<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.mybatis.dao.LogInfoMapper">
	<select id="selectById" parameterType="int" resultType="com.test.mybatis.model.LogInfo"> 
		SELECT * from log_info where id = #{Id} 
	</select> 
	<insert id="insert" parameterType="com.test.mybatis.model.LogInfo"> 
		INSERT INTO log_info(val) VALUES
		(#{val}) 
	</insert>
</mapper>