<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.mapper.Student">
	<select id="findStudentById" parameterType="int" resultType="Student"> 
		SELECT STUD_ID AS studId, NAME, EMAIL, DOB FROM STUDENTS 
		WHERE STUD_ID=#{Id} 
	</select> 
	<insert id="insertStudent" parameterType="Student"> 
		INSERT INTO STUDENTS(STUD_ID,NAME,EMAIL,DOB) VALUES
		(#{studId},#{name},#{email},#{dob}) 
	</insert>
</mapper>